<mat-toolbar class="select-items">
  <div class="">
    <div class="buttons">
      <app-button
        color="primary"
        text="Select All"
        (btnClick)="onSelectAll()"
      ></app-button>
      <app-button
        [isDisable]="isDisabled"
        color="warn"
        text="Delete"
        (btnClick)="onDeleteSelection()"
      ></app-button>
      <app-select></app-select>
    </div>
    <p *ngIf="error" class="error">
      {{ error }}
    </p>
  </div>
  <div class="">
    <input
      type="text"
      name="search"
      [(ngModel)]="name"
      id="input-search"
      class="input"
      placeholder="Search"
      (keyup)="onChange()"
    />
    <p *ngIf="foundUsers.length === 0 && name !== ''" class="error">
      Users with fullname: "{{ name }}" not found!
    </p>
  </div>
</mat-toolbar>
